h2 
  span.fa.fa-tint.fa-fw
  | Source: #{source.name}
ul.fa-ul
  each content in staticcontents
    -if (content.source.objectId == source.objectId)
      li
        form.editable(method="POST",action="#{root}/contents/#{content.objectId}")
          h4
            span.fa.fa-li.fa-link.clickable
            a(href="#{content.url}",target="_blank") #{content.title}
          code #{content.url}
          p.clickable #{content.text}
          input(type="hidden",name="contentId",value="#{content.objectId}")
          input(type="hidden",name="streamId",value="#{stream.objectId}")
          input(type="hidden",name="sourceId",value="#{source.objectId}")
          input.form-control(type="text",name="title",value="#{content.title}")
          textarea.form-control(type="text",name="text") #{content.text}
          input.form-control(type='text', placeholder='Link',name='link',value="#{content.url}")
          if (content.images.length)
            input.form-control(type='text', placeholder='Image',name='image',value="#{content.images[0].url}")
          else
            input.form-control(type='text', placeholder='Image',name='image',value="")
          input.form-control(type='text', placeholder='Tags',name='tags',value="#{content.tags}")
          textarea.form-control(placeholder='Custom Params (JSON)',name='params') !{JSON.stringify(content.params)}
          button.btn.btn-large.btn-success.pull-right(type='Submit') Save
        hr
-if (source.type === 'static')
  .container
    .col-md-5.col-md-offset-4
      .panel.panel-default.center
        .panel-heading
          h3.panel-title
            strong Add Content
        .panel-body
          form(role='form',action='/contents',method='POST')
            input(type="hidden",name="streamId",value="#{stream.objectId}")
            input(type="hidden",name="sourceId",value="#{source.objectId}")
            .form-group
              input.form-control(type='text', placeholder='Title',name='title')
            .form-group
              textarea.form-control(placeholder='Text',name='text')
            .form-group
              input.form-control(type='text', placeholder='Link',name='link')
            .form-group
              input.form-control(type='text', placeholder='Image',name='image')
            .form-group
              input.form-control(type='text', placeholder='Tags',name='tags')
            .form-group
              textarea.form-control(placeholder='Custom Params (JSON)',name='params')
            button.btn.btn-large.btn-success.pull-right(type='submit') Add Content
  // ./container 
-else
  #{source.type}
