.container
  .row-fluid
    .span12.top
      form.editable(method="POST",action="#{root}/streams/#{stream.objectId}")
        h1.clickable
          span.fa.fa-fw.fa-rss
          span #{stream.name}
        input.form-control(type='text', placeholder='Stream Name',name='name')
      .tabbable
        ul.nav.nav-tabs(id="stream-tabs")
          li.dropdown
            a.dropdown-toggle(href='#',data-toggle="dropdown")
              span.fa.fa-fw.fa-filter(id="stream-deltas-icon")
              span Deltas
              b.caret
            ul.dropdown-menu
              each delta in streamDeltas
                li
                  a.hashable(href='#delta-#{delta.objectId}') #{delta.name}
              li
                a.hashable(href='#delta-new') New Delta
          li
            a.hashable(href='#preview')
              span.fa.fa-fw.fa-edit(id="stream-preview-icon")
              span Manage Stream
          li
            a.hashable(href='#integration')
              span.fa.fa-fw.fa-share-alt(id="stream-integration-icon")
              span Integration
        .tab-content(id="stream",data-stream-id="#{stream.objectId}",data-stream-cn="#{stream.canonicalName}")
          .tab-pane(id="delta")
            each delta in streamDeltas
              .delta(id="delta-#{delta.objectId}")
                include ./delta.jade 
            .delta(id="delta-new")
              include ./delta-new.jade
          .tab-pane(id="source")
            each source in sources
              .source(id="source-#{source.objectId}")
                include ./source.jade
          .tab-pane(id="fork")
            each fork in forks
              .source(id="fork-#{fork.objectId}")
                include ./fork.jade
          .tab-pane(id="preview")
            link(href="#{root}/dist/css/styles/default.css",rel="stylesheet")
            center
              form(method="POST",action="#{root}/streams/#{stream.objectId}",style="margin-top:14px;")
                button.btn.btn-primary.pull-right(type='submit',name='populate') Populate
              form(method="POST",action="#{root}/streams/#{stream.objectId}",style="margin-top:14px;")
                input(type="hidden",name="template",value="")
                .btn-group.pull-left.autosubmit
                  a.btn.btn-info.dropdown-toggle(data-toggle="dropdown",href="#",name="template")
                    span Change Template
                    span.caret
                  ul.dropdown-menu
                    each template in templates
                      li 
                        a(href="##{template}") 
                          if template === stream.template || (template === 'default' && !stream.template)
                            span.fa.fa-fw.fa-check-square
                          else
                            span.fa.fa-fw.fa-square-o
                          span #{template}
              h2 Your Embeddable Stream:
            hr
            #stream-preview
          .tab-pane(id="integration")
            h2 Embed This Stream
            ul
              li Add this div to your page:
                code &lt;div class="deltas" data-stream="#{stream.canonicalName}" /&gt;
              li Make sure you have JQuery on your page
              li Add the deltas script to your page:
                code &lt;script src="//www.deltas.io/dist/js/deltas.io.js" &gt;
              li Customize the CSS of your stream, or just include this CSS file:
                code &lt;link rel="stylesheet" href="//www.deltas.io/dist/css/styles/default.css" &gt;
            h2 Other Integration Options
            h4 RSS Feed:
            code http://www.deltas.io/api/v1/streams/#{stream.canonicalName}.rss
            h4 Templated HTML:
            code http://www.deltas.io/api/v1/streams/#{stream.canonicalName}.html
            h4 JSON:
            code http://www.deltas.io/api/v1/streams/#{stream.canonicalName}.json
// /.container