.container
  .row-fluid
    .span12.top
      h1
        span.fa.fa-fw.fa-rss
        span #{stream.name}
      .tabbable
        ul.nav.nav-tabs(id="stream-tabs")
          li.dropdown
            a.dropdown-toggle(href='#',data-toggle="dropdown")
              span.fa.fa-fw.fa-filter(id="stream-deltas-icon")
              span Deltas
              b.caret
            ul.dropdown-menu
              each delta in streamDeltas
                li
                  a.hashable(href='#delta-#{delta.objectId}') #{delta.name}
              li
                a.hashable(href='#delta-new') New Delta
          li
            a.hashable(href='#preview')
              span.fa.fa-fw.fa-eye(id="stream-preview-icon")
              span Preview
          li
            a.hashable(href='#integration')
              span.fa.fa-fw.fa-share-alt(id="stream-integration-icon")
              span Integration
        .tab-content(id="stream",data-stream-id="#{stream.objectId}")
          .tab-pane(id="delta")
            each delta in streamDeltas
              .delta(id="delta-#{delta.objectId}")
                include ./delta.jade 
            .delta(id="delta-new")
              include ./delta-new.jade
          .tab-pane(id="preview")
          .tab-pane(id="integration")
            h2 How To: Send a Digest Email
            p Create a stream for your blog. Set the title to latest post. Connect to mailchimp. Pro: add quotes and other link sources.
            h2 How To: Post to Social Media
            p Use IFTT to connect your RSS feed
            h2 How To: Embed in your Blog
            p Use the Templated HTML along with your own custom CSS, and just ajax load the HTML into a div.
            h4 RSS Feed:
            code http://www.deltas.io/api/v1/streams/#{stream.objectId}.rss
            h4 Templated HTML:
            code http://www.deltas.io/api/v1/streams/#{stream.objectId}.html
            h4 JSON:
            code http://www.deltas.io/api/v1/streams/#{stream.objectId}.json
// /.container
script(src='#{pathToAssets}/dist/js/stream.js')